<div class="box">
  <div class="title"><%= drawing.title %></div>
    <% if drawing.picture.attached? %>
      <% if drawing.picture.content_type == "image/gif" %>
        <%= image_tag drawing.picture, class: "max500" %>
      <% else %>
        <%= image_tag drawing.picture.variant(resize: "x500>"), class: "max500" %>
      <% end %>
    <% end %>
  <%= drawing.notes.html_safe %>
  <hr>
  <div class="tags">
    <%= render drawing.tags %>
  </div>
</div>
