<%= form_with(model: drawing, local: true) do |form| %>
  <% if drawing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drawing.errors.count, "error") %> prohibited this drawing from being saved:</h2>

      <ul>
      <% drawing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: 'label' %>
    <div class="control">
      <%= form.text_field :title, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <div class="file has-name is-fullwidth">
      <label class="file-label">
        <%= form.file_field :picture, class: 'file-input' %>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">Choose a picture ...</span>
        </span>
        <span class="file-name" id="filename"></span>
        </label>
    </div>
  </div>

  <div class="field">
    <%= form.label :notes, class: 'label' %>
    <%= form.hidden_field :notes %>
    <div class="control box">
    <trix-editor input="drawing_notes"></trix-editor>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit class: 'button is-primary' %>
      <%= yield :actions %>
    </div>
  </div>
<% end %>
