<p id="notice"><%= notice %></p>

<h1>Drawings</h1>

<p>
<%= link_to 'New Drawing', new_drawing_path, class: 'button is-primary' %>
</p>

<div class="box">
<table class="table">
  <thead>
    <tr>
      <th colspan="4">Drawing</th>
    </tr>
  </thead>

  <tbody>
    <% @drawings.each do |drawing| %>
      <tr>
        <td>
          <%= drawing.title %>
          <div>
            <small>
              <%= time_ago_in_words drawing.created_at %> ago
            </small>
          </div>
        </td>
        <td>
          <% if drawing.picture.attached? %>
            <%= image_tag drawing.picture.variant(resize: "128x128>"), class: "thumb" %>
          <% else %>
            <%= image_tag "placeholder.png", class: "thumb" %>
          <% end %>
        </td>
        <td>
          <div class="tags">
            <% drawing.tags.each do |tag| %>
              <span class="tag is-small"><%= tag %></span>
            <% end %>
          </div>
        </td>
        <td>
          <%= link_to 'Show', drawing, class: 'button is-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
