<p id="notice"><%= notice %></p>

<h1>Drawings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drawings.each do |drawing| %>
      <tr>
        <td><%= drawing.title %></td>
        <td><%= drawing.notes %></td>
        <td><%= link_to 'Show', drawing %></td>
        <td><%= link_to 'Edit', edit_drawing_path(drawing) %></td>
        <td><%= link_to 'Destroy', drawing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drawing', new_drawing_path %>
