<p id="notice"><%= notice %></p>

<h1>Drawings</h1>

<div class="box">
<table class="table is-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Picture</th>
      <th>Notes</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @drawings.each do |drawing| %>
      <tr>
        <td>
          <%= drawing.title %>
        </td>
        <td>
          <figure class="image is-128x128">
          <% if drawing.picture.attached? %>
            <%= image_tag drawing.picture %>
          <% else %>
            <%= image_tag "placeholder.png" %>
          <% end %>
          </figure>
        </td>
        <td><%= drawing.notes.html_safe %></td>
        <td>
          <div class="is-size-7">
            Created <%= time_ago_in_words drawing.created_at %> ago, updated <%= time_ago_in_words drawing.updated_at %> ago
          </div>
        </td>
        <td>
          <%= link_to 'Show', drawing, class: 'button' %>
        </td>
        <td>
          <%= link_to 'Edit', edit_drawing_path(drawing), class: 'button is-primary' %>
          </td>
          <td>
            <%= link_to 'Destroy', drawing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to 'New Drawing', new_drawing_path, class: 'button is-primary' %>
