<div class="box">
  <div class="title"><%= @drawing.title %></div>
  <% if @drawing.picture.attached? %>
    <%= image_tag @drawing.picture.variant(resize: "x500>") %>
    <% else %>
    <figure class="image is-128x128">
      <%= image_tag "placeholder.png" %>
    </figure>
  <% end %>
  <%= @drawing.notes.html_safe %>

  <hr>
  <div class="tags">
    <%= render @drawing.tags %>
  </div>

</div>

<div class="buttons">
  <%= link_to 'Edit', edit_drawing_path(@drawing), class: 'button is-primary' %>
  <%= link_to 'Destroy', @drawing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' %>
  <%= link_to 'Back', drawings_path, class: 'button' %>
</div>