<p id="notice"><%= notice %></p>

<div class="box">
  <div class="title"><%= @drawing.title %></div>
  <% if @drawing.picture.attached? %>
    <%= image_tag @drawing.picture %>
    <% else %>
    <figure class="image is-128x128">
      <%= image_tag "placeholder.png" %>
    </figure>
  <% end %>
  <%= @drawing.notes.html_safe %>

  <p>
    <div class="tags">
      <% @drawing.tags.each do |tag| %>
        <span class="tag"><%= tag %></span>
      <% end %>
    </div>
  </p>

</div>

</div>

<div class="buttons">
  <%= link_to 'Edit', edit_drawing_path(@drawing), class: 'button is-primary' %>
  <%= link_to 'Back', drawings_path, class: 'button' %>
</div>